Задача 1.

In [14]:
def task1():
    a = [1, 5, 3]
    b = [1, 5, 1, 5]
    c = [1, 3, 1, 5, 3, 3]

    a_5 = len(list(filter(lambda x: x == 5, (a + b))))
    print(f'number of values equal 5 in (a + b): {a_5}')

    a_b = [v for v in (a + b) if v != 5]
    a_3 = len(list(filter(lambda x: x == 3, (a_b + c))))
    print(f'number of values equal 3 in (a + b + c): {a_3}')

    a_b_c = a_b + c
    print(a_b_c)

task1()

number of values equal 5 in (a + b): 3
number of values equal 3 in (a + b + c): 4
[1, 3, 1, 1, 1, 3, 1, 5, 3, 3]

Задача 2.

In [24]:
def task2():
    lst1 = [*range(160, 176, 2)]
    lst2 = [*range(162, 180, 3)]
    res = sorted(lst1 + lst2)
    print(res)

task2()

[160, 162, 162, 164, 165, 166, 168, 168, 170, 171, 172, 174, 174, 177]

Задача 3.

In [6]:
def task3():
    inp = input('enter a part name: ')

    shop = [['каретка', 1200], ['шатун', 1000], ['седло', 300],
            ['педаль', 100], ['седло', 1500], ['рама', 12000], 
            ['обод', 2000], ['шатун', 200], ['седло', 2700]]

    parts = [sub[0] for sub in shop]
    prices = [sub[1] for sub in shop]

    part_count = 0
    price_sum = 0
    for part, price in zip(parts, prices):
        if part == inp:
            part_count += 1
            price_sum += price
        
    print(f'part:  {inp}\n'
        f'count: {part_count}\n'
        f'price: {price_sum}')

task3()

part:  седло
count: 3
price: 4500

Задача 4.

In [6]:
def task4():
    guests = ['Петя', 'Ваня', 'Саша', 'Лиза', 'Катя']
    while len(guests) <= 7:
        new_guest = input('enter a guest name: ')
        if new_guest in guests:
            print(f'guest name: {new_guest}')
        else:
            question = input('is he/she come or gone')
            if question == 'come':
                print(f'{new_guest} is come')
                guests.append(new_guest)
                print(f'hi, {new_guest}')
                if len(guests) == 7:
                    guests.pop()
                    print(f'sorry, {new_guest}, but here is no free places')
                    print('everyone is going to bed')
                    break
            if question == 'gone':
                print(f'{new_guest} is gone')

task4()

Alex is gone
guest name: Петя
Elon is come
hi, Elon
Mark is come
hi, Mark
sorry, Mark, but here is no free places
everyone is going to bed

Задача 5.

In [35]:
def task5():
    import random

    inp = int(input('enter a number: '))
    violator_songs = [
        ['World in My Eyes', 4.86],
        ['Sweetest Perfection', 4.43],
        ['Personal Jesus', 4.56],
        ['Halo', 4.9],
        ['Waiting for the Night', 6.07],
        ['Enjoy the Silence', 4.20],
        ['Policy of Truth', 4.76],
        ['Blue Dress', 4.29],
        ['Clean', 5.83]
    ]

    new_songs = random.sample(violator_songs, inp)

    new_songs = []
    for _ in range(inp):
        rand_song = random.sample(violator_songs, 1)
        
        new_songs.append(rand_song)
        print(rand_song[0][0])

    total_time = 0    
    for new_song in new_songs:
        total_time += new_song[0][1]

    print(f'total duration: {round(total_time, 2)}')

task5()

Halo
Waiting for the Night
World in My Eyes
total duration: 15.83

Задача 6.

In [9]:
def task6():
    lst1 = []
    lst2 = []

    for i in range(1, 4):
        lst1.append(int(input(f'enter number {i} in 1st list')))

    for i in range(1, 8):
        lst2.append(int(input(f'enter number {i} in 2nd list')))

    for i in range(len(lst2)):
        lst1.insert(i + len(lst1), lst2[i])
      
    print(set(lst1)) 

task6()

{1, 2, 3, 4, 6}

Задача 7.

In [16]:
def task7():
    N = int(input(f'enter number of skates'))
    K = int(input(f'enter number of people'))

    lst1 = []
    lst2 = []

    for i in range(1, N+1):
        lst1.append(int(input(f'enter size {i} in skates list')))

    for i in range(1, K+1):
        lst2.append(int(input(f'enter size {i} in people list')))

    counter = 0
    for skate_size in lst1:
        for foot_size in lst2:
            if skate_size >= foot_size:
                counter += 1
                try:
                    lst1.remove(skate_size)
                    lst2.remove(foot_size)
                except:
                    print(f'skate of size {skate_size} is taken')

    print(f'max number of people: {counter}')

task7()

max number of people: 2

Задача 8.

In [59]:
K1 = 2
people1 = [1, 2, 3, 4, 5]
people1.pop(K1)
people1_head = people1[:K1]
people1_tail = people1[K1:]
people1 = people1_tail + people1_head
people1[0]

4

In [87]:
class Task8:
    """Game."""

    def __init__(self):
        self.N = int(input(f'enter a number of people: '))
        self.K = int(input('enter a removal index: ')) - 1
        self.people = [x for x in range(1, self.N + 1)]

    def game(self):
        while len(self.people) > 1:
            self.K = int(input('enter a removal index: ')) - 1
            if self.K <= len(self.people):
                self.engine()
            else:
                self.K = self.K - (len(self.people) * (self.K // len(self.people)))
                self.engine()
        print(f'the last person: {self.people[0]}')   

    def engine(self):
        print(f'current set of people: {self.people}\n'
              f'count begins with:     {self.people[0]}\n'
              f'removing person:       {self.people[self.K]}\n'
              '-------------------------------------')
        self.people.pop(self.K)
        people_head = self.people[:self.K]
        people_tail = self.people[self.K:]
        self.people = people_tail + people_head

In [88]:
task8 = Task8()
task8.game()

current set of people: [1, 2, 3, 4, 5]
count begins with:     1
removing person:       2
-------------------------------------
current set of people: [3, 4, 5, 1]
count begins with:     3
removing person:       5
-------------------------------------
current set of people: [1, 3, 4]
count begins with:     1
removing person:       1
-------------------------------------
current set of people: [3, 4]
count begins with:     3
removing person:       3
-------------------------------------
the last person: 4

In [64]:
# то же только через функцию
def task8():
    N = int(input(f'enter a number of people: '))
    people = [x for x in range(1, N+1)]

    while len(people) > 1:
        K = int(input('enter a removal index: ')) - 1
        if K <= len(people):
            print(f'current set of people: {people}\n'
                  f'count begins with:     {people[0]}\n'
                  f'removing person:       {people[K]}\n'
                  '-------------------------------------')
            people.pop(K)
            people_head = people[:K]
            people_tail = people[K:]
            people = people_tail + people_head
        else:
            K = K - (len(people) * (K // len(people)))
            print(f'current set of people: {people}\n'
                  f'count begins with:     {people[0]}\n'
                  f'removing person:       {people[K]}\n'
                  '-------------------------------------')
            people.pop(K)
            people_head = people[:K]
            people_tail = people[K:]
            people = people_tail + people_head
        print(f'the last person: {people[0]}')
          
task8()

current set of people: [1, 2, 3, 4, 5]
count begins with:     1
removing person:       2
-------------------------------------
the last person: 3
current set of people: [3, 4, 5, 1]
count begins with:     3
removing person:       5
-------------------------------------
the last person: 1
current set of people: [1, 3, 4]
count begins with:     1
removing person:       1
-------------------------------------
the last person: 3
current set of people: [3, 4]
count begins with:     3
removing person:       3
-------------------------------------
the last person: 4

Задача 9.

In [80]:
import pandas as pd
import numpy as np
from itertools import permutations

N = int(input(f'enter a number of friends: '))
K = int(input(f'enter a number of debts: '))

users = [x for x in range(1, N+1)]
depts = [x for x in range(1, K+1)]

users_comb = list(permutations(users, 2))

users_df = pd.DataFrame(data=users_comb, columns=['from_user', 'to_user'])
depts_df = pd.DataFrame(data=users, columns=['user'])

for col in depts:
    depts_df[f'dept_{str(col)}'] = np.random.randint(10, 50, len(users))

df = (users_df.merge(depts_df, left_on='from_user', right_on='user')
              .drop(['user'], axis=1))

dept_cols = list(depts_df.drop(['user'], axis=1).columns)

df['dept_sum'] = df[dept_cols].sum(axis=1)
df

   from_user  to_user  dept_1  dept_2  dept_3  dept_sum
0          1        2      42      38      46       126
1          1        3      42      38      46       126
2          2        1      30      32      25        87
3          2        3      30      32      25        87
4          3        1      21      47      36       104
5          3        2      21      47      36       104

In [81]:
dept_from_df = (df[['from_user', 'dept_sum']]
    .groupby('from_user')
    .sum()
    .reset_index()
    .rename(columns={'dept_sum': 'dept_from', 'from_user': 'user'}))

dept_to_df = (df[['to_user', 'dept_sum']]
    .groupby('to_user')
    .sum()
    .reset_index()
    .rename(columns={'dept_sum': 'dept_to', 'to_user': 'user'}))

df1 = dept_from_df.merge(dept_to_df, how='inner', on='user')
df1['balance'] = df1['dept_from'] - df1['dept_to']
df1

   user  dept_from  dept_to  balance
0     1        252      191       61
1     2        174      230      -56
2     3        208      213       -5

In [82]:
print(f'number of friends: {N}\n'
      f'number of depths: {K}\n'
      '--------------------')

for i in range(N):
    for col in dept_cols:
        print(col)   
        print('from user:', df.iloc[i]['from_user'])
        print('to user:', df.iloc[i]['to_user'])
        print('depth:', df.iloc[i][col])
        print('--------------------')

print('balance of friends\n'
      '--------------------')

for i in range(N):
    print(f'friend {i+1}: ', df1.iloc[i]['balance'])

number of friends: 3
number of depths: 3
--------------------
dept_1
from user: 1
to user: 2
depth: 42
--------------------
dept_2
from user: 1
to user: 2
depth: 38
--------------------
dept_3
from user: 1
to user: 2
depth: 46
--------------------
dept_1
from user: 1
to user: 3
depth: 42
--------------------
dept_2
from user: 1
to user: 3
depth: 38
--------------------
dept_3
from user: 1
to user: 3
depth: 46
--------------------
dept_1
from user: 2
to user: 1
depth: 30
--------------------
dept_2
from user: 2
to user: 1
depth: 32
--------------------
dept_3
from user: 2
to user: 1
depth: 25
--------------------
balance of friends
--------------------
friend 1:  61
friend 2:  -56
friend 3:  -5

Задача 10.

In [157]:
def task10():
    inp = input(f'enter a sequence: ')
    init_seq = [int(i) for i in inp]

    rev_seq = list(reversed(init_seq))

    tail_seq = []
    for idx, _ in enumerate(rev_seq):
        if rev_seq[idx] == rev_seq[idx+1]:
            tail_seq.append(rev_seq[idx])
        else:
            break
    try:
        tail_seq.append(tail_seq[-1])
    except:
        del rev_seq[0]

    rev_seq = rev_seq[len(tail_seq):]

    res = init_seq + rev_seq
    print(res)

task10()

[1, 2, 1, 2, 2, 1, 2, 1]